@font-face
  font-family: 'HelveticaNeue-Bold'
  src: url('../fonts/HelveticaNeue-Bold.eot')
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'), url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal


@font-face
  font-family: 'HelveticaNeue'
  src: url('../fonts/HelveticaNeue.eot')
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue-Medium'
  src: url('../fonts/HelveticaNeue-Medium.eot')
  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg'), url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeue-Medium.woff') format('woff'), url('../fonts/HelveticaNeue-Medium.woff2') format('woff2')
  font-weight: normal
  font-style: normal

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html
  font-family: 'HelveticaNeue', sans-serif

.container
  width: 100%
  max-width: 1500px
  margin: 0 auto
  padding: 0 30px

button, a
  cursor: pointer

.section
  min-height: 100vh

.section:nth-child(1)
  background: linear-gradient(-180deg, #FFF4D4 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF

.section:nth-child(2)
  background: linear-gradient(180deg, #DCDBFF 0%, rgba(255, 255, 255, 0) 100%), #fff

.section:nth-child(3)
  background: linear-gradient(180deg, #D4EDFF 0%, rgba(255, 255, 255, 0) 100%), #fff

.section:nth-child(4)
  background: linear-gradient(180deg, #DAFFE9 0%, rgba(255, 255, 255, 0) 100%), #fff

.section:nth-child(5)
  background: linear-gradient(180deg, #FFE9DA 0%, rgba(255, 255, 255, 0) 100%), #fff

.title
  font-family: 'HelveticaNeue-Bold', sans-serif
  font-size: 84px
  line-height: 120%
  text-align: center
  letter-spacing: -0.03em
  color: #23242A

.small-title
  margin-bottom: 16px
  font-family: 'HelveticaNeue-Medium'
  text-align: center
  font-weight: 500
  font-size: 23px
  line-height: 120%
  letter-spacing: 0.11em
  text-transform: uppercase
  color: #23242A
