.footer
  display: flex
  position: absolute
  bottom: 0
  align-items: center
  width: 100%
  background-color: #151619
  padding: 8px 0

  +media(m)
    display: none

.footer .container
  +media(s)
    flex-direction: row
    height: 100%
    padding: 0 16px
    align-items: center

.footer__nav
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

  +media(s)
    flex-direction: row
    height: 100%
    align-items: center

.footer__nav .nav__link
  color: #ffffff

.footer__nav .nav__link:hover
  color: #D75A55

.nav__item > .button
  position: static
  color: #ffffff
  border-color: #ffffff
  transform: translateY(0)

.nav__item > .button:hover
  color: #ffffff
  border-color: #D75A55
  background-color: #D75A55

.footer__menu
  +media(l)
    align-self: flex-end

  +media(m)
    display: none

.author
  display: flex
  flex-direction: column
  font-size: 12px
  line-height: 18px
  font-weight: 500
  text-transform: uppercase
  color: #ffffff
  transition: all 0.25s ease

  +media(s)
    flex-direction: row
    align-items: center
    gap: 8px
    height: 100%
    padding: 8px 0 4px
    line-height: 12px

.author--mobile
  display: none
  flex-direction: row
  align-items: center
  height: 100%
  gap: 8px
  padding: 16px 24px
  line-height: 12px
  background-color: #151619
  border-radius: 12px

  +media(m)
    display: flex

  +media(s)
    padding: 12px 16px

.author__image
  height: auto
  max-height: 16px
  width: 100%
  max-width: 120px

  +media(s)
    margin-bottom: 4px
    width: fit-content

.ethword,
.eth-e
  fill: #ffffff
  transition: all 0.25s ease

.author:hover
  color: #D75A55

.author:hover .eth-e
  fill: #303363

.author:hover .ethword
  fill: #00a5ff
