.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding-top: 24px
  z-index: 1

.header__row
  position: relative
  display: flex
  justify-content: center
  align-items: center

.nav__item + .nav__item
  margin-left: 40px

.nav__list
  display: flex
  justify-content: center
  align-items: center
  
.nav__link
  font-weight: 500
  font-size: 14px
  line-height: 24px
  text-align: center
  letter-spacing: 0.11em
  color: #353740

.button
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  padding: 13.5px 32px
  font-weight: bold
  font-size: 14px
  line-height: normal
  text-align: center
  letter-spacing: 0.11em
  color: #23242A
  border: 1px solid #23242A
  border-radius: 25px

.main-title
  margin-bottom: 107px
  font-family: 'HelveticaNeue-Bold', sans-serif
  font-weight: bold
  font-size: 49px
  line-height: 110%
  text-align: center
  color: #000000
  
.main-title span
  font-size: 87.931px
  line-height: 110%
  letter-spacing: -0.03em
  color: #23242A
