.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding-top: 24px
  z-index: 1

.header__row
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100%

.nav__item + .nav__item
  margin-left: 40px

.nav__list
  display: flex
  justify-content: center
  align-items: center

.nav__link
  font-weight: 500
  font-size: 14px
  line-height: 24px
  text-align: center
  letter-spacing: 0.11em
  color: #353740
  transition: all 0.25s ease

.nav__link:hover
  color: #D75A55

.button
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  padding: 13.5px 32px
  font-weight: bold
  font-size: 14px
  line-height: normal
  text-align: center
  letter-spacing: 0.11em
  color: #23242A
  border: 1px solid #23242A
  border-radius: 25px
  transition: all 0.25s ease

.button:hover
  color: #000000
  border-color: #D75A55
  background-color: #D75A55

.main-title
  margin-bottom: 96px
  font-family: 'HelveticaNeue-Bold', sans-serif
  font-weight: bold
  font-size: 48px
  line-height: 1.1
  text-align: center
  color: #000000

.main-title span
  font-size: 88px
  line-height: 1.1
  letter-spacing: -0.03em
  color: #23242A
