.row
  display: flex
  justify-content: space-between

.boxes-row
  display: flex
  justify-content: space-between
  width: 100%

.box
  padding: 56px 53px 64px
  max-width: 585px
  width: 100%
  background: #FFFFFF
  box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1)
  border-radius: 12px
  
.box__title
  margin-bottom: 16px
  font-weight: bold
  font-size: 40px
  line-height: 48px
  text-align: center
  color: #23242A

.box__subtitle
  font-size: 20px
  line-height: 32px
  text-align: center
  color: #23242A
  
.box__grid
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 22px
  row-gap: 48px

.box__label
  font-weight: 500
  font-size: 16px
  line-height: 150%
  letter-spacing: 0.11em
  text-transform: uppercase
  color: #23242A
  
.info
  max-width: 180px
  
.info__row
  display: flex
  align-items: center
  margin-bottom: 8px

.info__icon
  margin-right: 16px

.info__title
  font-weight: bold
  font-size: 20px
  line-height: 32px
  color: #23242A

.info__text
  font-size: 14px
  line-height: 24px
  color: #23242A

.problem-row
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 22px
  margin-top: 40px
  
.problem-grid
  margin-top: 24px

.solution-grid
  margin-top: 88px
